@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Noto+Sans+Math&display=swap');

:root {
    --font-size: clamp(10px, 1.4vh, 2vh);
    --small-font-size: clamp(9.5px, 1.35vh, 1.75vh);
    --icon-size: clamp(25px, 2vh, 3vh);
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    padding: 0vh;
    margin: 0vh;
    background-color: #020617;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container > .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 450px;
    overflow: visible;
}

.sidebar {
    width: 16vw;
    min-width: 215px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    color: #e0e7ff;
    margin: 0.5vh;
}

.sidebar .item {
    display: grid;
    grid-template-columns: repeat(2, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
}

.sidebar .home {
    font-size: clamp(12px, 1.6vh, 3vh);
    text-shadow: 0 0 0.2rem #e0e7ff;
    background-color: #3730a3;
    border-radius: 5vh;
    margin: 10px;
}

.sidebar-link {
    text-decoration: none;
    color: #e0e7ff;
}

.item > .sidebar-link:hover{
    color: #818cf8;
}

.sidebar .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    padding-right: 3vw;
    justify-self: end;
}

.home .icon {
    width: clamp(35px, 3.5vh, 4vh);
    height: clamp(35px, 3.5vh, 4vh);
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    height: 15vh;
    min-width: 300px;
    min-height: 180px;
    margin: 0.5vh 0.5vh 0.1vh 0.5vh;
    border: 2px solid #4f46e5;
    border-radius: 2vh 2vh 0 0;
    background-color: #4f46e5; 
    padding: 1.5vh;
    color: #e0e7ff;
    overflow: hidden;
}

.top {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.top input {
    grid-area: 1 / 2 / 2 / 6;
    width: 40vw;
    height: 2.5vh;
    min-width: 50px;
    min-height: 15px;
    border: 1px solid #a5b4fc;
    box-shadow: 1.5px 1.5px 1px 1px #1e1b4b;
    border-radius: 10vh;
    background-color: #eef2ff;
}

.top .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    justify-self: end;
}

.top .icon:first-child {
    padding-right: 1vw;
}

.profile {
    grid-area: 1 / 7 / 2 / 9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-size);
    min-width: 200px;
}

.profile .icon:nth-child(2) {
    width: clamp(70px, 3vh, 5vh);
    height: clamp(70px, 3vh, 5vh);
    border: 1px solid #818cf8;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 1px 1px #1e1b4b;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.bottom > .left {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    min-width: 120px;
    min-height: 60px;
    overflow: hidden;
}

.bottom > .left .icon {
    width: clamp(80px, 10vh, 20vh);
    height: clamp(80px, 10vh, 20vh);
    border: 1px solid #818cf8;
    border-radius: 50%;
    margin-right: 1.5vw;
    box-shadow: 1.5px 1.5px 1px 1px #1e1b4b;
}

.greeting {
    font-size: clamp(15px, 2.5vh, 5vh);
}

.greeting p:nth-child(1) {
    font-size: var(--small-font-size);
}

.bottom > .right {
    grid-area: 1 / 5 / 2 / 7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom > .right a {
    margin: 1vh 1vh 1vh 5vh;
    padding: 1vh 2vh 1vh 2vh;
    background-color: #020617;
    border-radius: 10vh;
    color: #e0e7ff;
    font-size: var(--font-size);
    text-decoration: none;
    transition: 0.35s background-color;
}

.bottom > .right a:hover {
    background-color: #c7d2fe;
    color: #1e1b4b;
}

.bottom > .right a:active {
    background-color: #1e1b4b;
    color: #e0e7ff;
}

.main-content {
    flex: 1;
    margin: 0.1vh 0.5vh 0.5vh 0.5vh;
    border: 2px solid #e0e7ff;
    border-radius: 0 0 2vh 2vh;
    background-color: #e0e7ff;
    color: #1e1b4b;
    padding: 1.5vh;
    font-size: var(--font-size);
    display: flex;
}

.content-text {
    font-size: var(--font-size);
    padding-left: 2vh;
    padding-top: 0.5vh;
}

.content-text:nth-last-child(1) {
    margin-top: 1vh;
}

.main-cards {
    flex: 3;
}

.card-grid {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2vh;
    row-gap: 4vh;
}

.main-item {
    border: 0.1vh dashed #818cf8;
    border-radius: 2.5vh;
    background-color: #c7d2fe;
    color: #1e1b4b;
    padding: 1vh 3vh 1vh 3vh;
    border-left: 1vh solid #1e1b4b;

    display: flex;
    flex-direction: column;
}

.card-content p {
    display: -webkit-box;
    overflow: hidden;
    max-width: 25vw;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-buttons {
    align-self: flex-end;
    display: flex;
}

.card-buttons .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0.5vh;
    padding: 0.5vh;
}

.right-cards {
    flex: 1;
    margin-left: 1vh;

    display: flex;
    flex-direction: column;
}

.announcements, .trending {
    border: 0.1vh solid #818cf8;
    background-color: #c7d2fe;
    border-radius: 2.5vh;
    padding: 1vh 3vh 1vh 3vh;
    margin: 1vh;
}

.announcement-item p {
    display: -webkit-box;
    overflow: hidden;
    max-width: 22vw;
    max-height: 3.2vh;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.announcement-item:nth-child(-n + 2) {
    border-bottom: 1px solid #818cf8;
}

.trending {
    display: flex;
    flex-direction: column;
}

.trending-item {
    display: flex;
    align-items: center;
}

.trending-item .icon {
    width: clamp(55px, 2.5vh, 3vh);
    height: clamp(55px, 2.5vh, 3vh);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 3vh;
    box-shadow: 1.5px 1.5px 1px 1px #a5b4fc;
}

.trending-item p:first-child {
    font-weight: bold;
}